<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.weber.cs3270.scotthadzik.kidtrackapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="edu.weber.cs3270.scotthadzik.kidtrackapp.KidTrackApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginOrSignupActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuthenticateActivity"
            android:label="@string/title_activity_authenticate"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"/>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="UserInfo.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="5" />
        <meta-data
            android:name="AA_MODELS"
            android:value="edu.weber.cs3270.scotthadzik.kidtrackapp.model.Item, edu.weber.cs3270.scotthadzik.kidtrackapp.model.Category" />

    </application>

</manifest>
